.row {
  display: flex;

  & > :first-child {
    margin-right: 1em;
  }
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.page {
  margin-right: 1em;
  cursor: pointer;
  color: #09f;

  &:last-child {
    margin-right: unset;
  }
}
