@import 'src/styles/variables.scss';

.row {
  display: flex;
  justify-content: space-between;

  & > :first-child {
    margin-right: 1em;
  }
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.page {
  margin-right: 1em;
  cursor: pointer;
  color: $blue;

  &:last-child {
    margin-right: unset;
  }
}

.active {
  font-weight: bold;
  color: $blue-bold;
}

.issue-item:not(:nth-child(2n)) {
  background: $records-alternate;
}
