@import 'src/styles/variables';

.form {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  min-height: 1.5em;
}

.input {
  height: inherit;
  border: 1px solid $gray;
}

.button {
  margin-left: 0.5em;
  height: inherit;
  border: 1px solid $gray;
}

.delimiter {
  margin: 0 0.5em;
}
